%html
  %head
    %script{:src => "/assets/app.js"}
  %body
    %h1 Guitar Ruler
    %canvas#canvas-out1
    .break
    %canvas#canvas-out2

    %dl
      %dt Fundamental Frequency
      %dd.js-fundamental
